{% extends 'challenge/base.html' %}
{% load static %}
{% block title %} {{ challenge.title }} {% endblock %}
{% block content %}

    <h4 style="margin-bottom:30pt">
        {{ challenge.title }}
    </h4>

    {% autoescape off %}
        <div style="margin-bottom:30pt">
            {{ challenge.description }}
        </div>
    {% endautoescape %}

    {% if challenge.type_chall == 'download' %}
        <h6 style="margin-bottom:30pt">
            <a href="{% static challenge.file_content %}" download>Download needed file</a>
        </h6>
    {% elif challenge.type_chall == 'image' %}
        <h6 style="margin-bottom:30pt">
            <a href="{% static challenge.file_content %}" image>Image needed</a>
        </h6>
    {% elif challenge.type_chall == 'page' %}
        <h6 style="margin-bottom:30pt">
            <a href="{% static challenge.file_content %}" page>Link to challenge</a>
        </h6>
    {% elif challenge.type_chall == 'link' %}
        <h6 style="margin-bottom:30pt">
            <a href={{ link }}>Link to challenge</a>
        </h6>

    {% endif %}


    <form action="{% url 'challenge:challenge' %}" method="post">
        {% csrf_token %}

        <input type="hidden" name="id_chall" value="{{ challenge.id_chall }}">
        <div class="input-field">
            {{ form.flag }}
        </div>
        <button type="submit" class="btn">
            Submit
        </button>
    </form>

    {% if error_message %}
        <div style="margin-top:20pt">
            <b> {{ error_message }} </b>
        </div>
    {% endif %}




{% endblock %}
