{% extends 'challenge/base.html' %}
{% load static %}

{% block title %}
  Challenges
{% endblock %}

{% block content %}

    {% if request.user.is_authenticated %}

        <h4 style="margin-bottom:30pt">
            Challenges
        </h4>

        {% if challenges %}

          <table style="table-layout:fixed">

            <tr>
              <th style="text-align:center"> Name </th>
              <th style="text-align:center"> Points </th>
              <th style="text-align:center"> Solved by </th>
            </tr>

            {% for chall in challenges %}
              <tr>
                <form action="{% url 'challenge:challenge' %}" method="post">
                    {% csrf_token %}

                    {% if chall.is_done == '1' %}
                      <td style="text-align:center; overflow:hidden">
                        <i class="material-icons" style="vertical-align: middle">lock_open</i>
                        <input type="submit" value="{{ chall.title }}" class="btn chall_name">
                      </td>
                      <td style="text-align:center; overflow:hidden">
                        <div class="chall_points"> {{ chall.points }} </div>
                      </td>

                    {% elif chall.is_done == '0' and chall.locked == '1'  %}
                      <td style="text-align:center; overflow:hidden">
                       <i class="material-icons" style="vertical-align: middle">lock</i>
                       <input type="submit" value="{{ chall.title }}" class="btn chall_name" disabled>
                      </td>
                      <td style="text-align:center; overflow:hidden">
                        <div class="chall_points" disabled> {{ chall.points }} </div>
                      </td>

                    {% else %}
                      <td style="text-align:center; overflow:hidden">
                        <i class="material-icons" style="vertical-align: middle">lock</i>
                        <input type="submit" value="{{ chall.title }}" class="btn chall_name">
                      </td>
                      <td style="text-align:center; overflow:hidden">
                        <div class="chall_points"> {{ chall.points }} </div>
                      </td>

                    {% endif %}

                    <input name="id_chall" type="hidden" value="{{ chall.id_chall }}">

                </form>

              </tr>
            {% endfor %}

          </table>

        {% else %}
            We still don't have any challenges. Come back soon.
        {% endif %}

    {% endif %}

{% endblock %}
