{% extends 'challenge/base.html' %}

{% block title %}
  Login
{% endblock %}

{% block content %}

  <h4 style="margin-bottom:30px">
    Login
  </h4>

  <form action="{% url 'challenge:login' %}" method="post">

    <!-- Login form fields -->
    {% csrf_token %}
    {% for field in form %}
      {{ field.label_tag | title }}<br />
      {{ field }}<br />
    {% endfor %}

    <!-- Buttons: confirm login -->
    <input type="submit" value="Enter" class="btn" />

    <a class="btn" href="{% url 'password_reset' %}">
      <b>Reset Password</b>
    </a>

  </form>

{% endblock %}
