{% extends 'challenge/base.html' %}

{% block title %}
  Login
{% endblock %}

{% block content %}

  <!-- Page title -->
  <h4 style="margin-bottom:30px">
    Login
  </h4>

  <!-- Display successful message after user sign up -->
  {% if messages %}
    {% for message in messages %}
      <div class="success-message">{{ message }}</div> <br />
    {% endfor %}
  {% endif %}

  <!-- Display any forms error -->
  {% if form.errors %}
    {% for field in form %}
      {% for error in field.errors %}
        <div class="error-message">{{ error }}</div> <br />
      {% endfor %}
    {% endfor %}
  {% endif %}

  <form action="{% url 'challenge:login' %}" method="post">

    <!-- Login form fields -->
    {% csrf_token %}
    {% for field in form %}
      {{ field.label_tag | title }}
      {{ field }}
    {% endfor %}

    <!-- Buttons: confirm login -->
    <input type="submit" value="Enter" class="btn" />

    <a class="btn" href="{% url 'password_reset' %}">
      <b>Reset Password</b>
    </a>

  </form>

{% endblock %}
