{% extends 'challenge/base.html' %}
{% block title %}Ranking{% endblock %}
{% block content %}

    <h4 style="margin-bottom:30pt">
        Ranking
    </h4>

    <table>
        <tr>
            <th>Position</th>
            <th>Username</th>
            <th>Points</th>
        </tr>

        {% for user in ranking %}
            <tr>
                <td> {{ user.position }} </td>
                <td> {{ user.username }} </td>
                <td> {{ user.points }} </td>
            </tr>
        {% endfor %}

    </table>

{% endblock %}
