{% extends 'challenge/base.html' %}

{% block title %}
  Register
{% endblock %}

{% block content %}

  <!-- Page title -->
    <h4 style="margin-bottom:30px">
      Register
    </h4>

  <form action="{% url 'challenge:register' %}" method="post">

    <!-- Register form fields -->
    {% csrf_token %}
    {% for field in form %}
      {{ field.label_tag | title }}

      <!-- Display field error message -->
      {% for error in field.errors %}
        <div class="error-message"> {{ error }} </div>
      {% endfor %}

      {{ field }}

    {% endfor %}

    <!-- Buttons: confirm registration -->
    <input type="submit" value="Confirm" class="btn" />

  </form>

{% endblock %}
