{% extends 'challenge/base.html' %}
{% load static %}
{% block title %} {{ riddle.title }} {% endblock %}
{% block content %}

    <h4 style="margin-bottom:15pt">
        {{ riddle.title }}
    </h4>

    {% autoescape off %}
        <div style="margin-bottom:30pt" class="chall-description">
            {{ riddle.description }}
        </div>
    {% endautoescape %}

    <form action="{% url 'challenge:riddle' %}" method="post">
        {% csrf_token %}

        <input type="hidden" name="id_riddle" value="{{ riddle.id_riddle }}">
        <div class="input-field">
            {{ form.flag }}
        </div>
        <button type="submit" class="btn">
            Submit
        </button>
    </form>

    {% if error_message %}
        <div style="margin-top:20pt">
            <b> {{ error_message }} </b>
        </div>
    {% endif %}

{% endblock %}
